@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #fda80a;
    --primary-color-2: #fd940a;
    --secondary-color: #00A8E8;
    --secondary-color-2: #098dc2;

}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background: #f0f3f7;
}

/* texto */
.text-secondary {
    color: #bbbbbb !important;
}

.text-primary {
    color: var(--secondary-color-2) !important;
}

label {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

p {
    font-family: "Roboto", sans-serif;

}

/* botones */
.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 2px white;

    .bi {
        text-shadow: 1px 1px 2px white;
    }
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: black !important;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.479);

    .bi {
        color: balck;
    }
}

.btn-primary:hover {
    background-color: var(--primary-color) !important;
    border-color: #000000 !important;
}

.page-link {
    color: gray !important;
    border-color: gray !important;
}

.page-link:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.page-item.active .page-link {
    background-color: var(--primary-color-2) !important;
    text-shadow: 1px 1px 2px rgb(32, 32, 32);
    border-color: #646464 !important;
    color: white !important;
}

/* utils */
.hover:hover {
    cursor: pointer;
}
